<form [formGroup]="profileForm" (ngSubmit)="saveOrderDetails()">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title order_detail_header"><b>Order Details</b></h1>
      <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button> -->
    </div>
   <div class="modal-body">
    <div class="row">
        <div class="col-md-5 padding_class">
          <label for="first-name">Name: </label>
          <input [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" class="form-control" id="name" type="text" formControlName="name" minlength="3">
          <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
            <div *ngIf="f['name'].errors['required']">Name is required</div>
            <div *ngIf="f['name'].errors['minlength']">Name must be at least 3 characters long.</div>
          </div>
        </div>
        <div class="col-md-5 padding_class">
        <label for="state">State: </label>
        <input [ngClass]="{ 'is-invalid': submitted && f['state'].errors }" class="form-control" id="state" type="text" formControlName="state" minlength="2">
        <div *ngIf="submitted && f['state'].errors" class="invalid-feedback">
          <div *ngIf="f['state'].errors['required']">State is required</div>
          <div *ngIf="f['state'].errors['minlength']">State must be at least 2 characters long.</div>
        </div>
      </div>
      <div class="col-md-5 padding_class">
        <label for="last-name">Zipcode: </label>
        <input [ngClass]="{ 'is-invalid': submitted && f['zip'].errors }" class="form-control" id="zip" type="text" formControlName="zip" pattern="^[0-9]*$">
        <div *ngIf="submitted && f['zip'].errors" class="invalid-feedback">
          <div *ngIf="f['zip'].errors['required']">Zipcode is required</div>
          <div *ngIf="f['zip'].errors['pattern']">Zipcode must be in 5 digit Number</div>
        </div>
      </div>
      <div class="col-md-5 padding_class">
        <label for="last-name">Amount: </label>
        <input [ngClass]="{ 'is-invalid': submitted && f['amount'].errors }" class="form-control" id="last-name" type="text" formControlName="amount" pattern="^[0-9]*$">
        <div *ngIf="submitted && f['amount'].errors" class="invalid-feedback">
          <div *ngIf="f['amount'].errors['required']">Amount is required</div>
          <div *ngIf="f['amount'].errors['pattern']">Amount must be Number</div>
        </div>
      </div>
      <div class="col-md-5 padding_class">
        <label for="last-name">Qty: </label>
        <input [ngClass]="{ 'is-invalid': submitted && f['qty'].errors }" class="form-control" id="last-name" type="text" formControlName="qty" pattern="^[0-9]*$">
        <div *ngIf="submitted && f['qty'].errors" class="invalid-feedback">
          <div *ngIf="f['qty'].errors['required']">Quantity is required</div>
          <div *ngIf="f['qty'].errors['pattern']">Amount must be Number</div>
        </div>
      </div>
      <div class="col-md-5 padding_class">
        <label for="last-name">Item: </label>
        <input [ngClass]="{ 'is-invalid': submitted && f['item'].errors }" class="form-control" id="last-name" type="text" formControlName="item" minlength="3">
        <div *ngIf="submitted && f['item'].errors" class="invalid-feedback">
          <div *ngIf="f['item'].errors['required']">Item is required</div>
          <div *ngIf="f['item'].errors['minlength']">Item must be at least 3 characters long.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closePopup();">Close</button>
  </div>
  </div>
</form>


