<nav class="navbar navbar-dark bg-dark">
  <p class="navbar-brand">{{ title }}</p>
</nav>
<div class="container" style="margin-top: 2%;">
    <router-outlet></router-outlet>
</div>
<footer class="bg-light text-center text-lg-start fixed-bottom">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright: <a class="text-dark" href="#">HCL ONLINE TEST</a>
    </div>
</footer>

