<!-- <input type="text" (keyup)="onSearchKeyword()" [(ngModel)]="searchKey" placeholder="Enter search key here"> -->
<span *ngIf="searchedKey" style="margin-top:20% ;">Searched Key:  <b>{{ searchedKey }}</b></span>
