<article class="table-header">
    <div class="order_heading"><b>Order Details page</b></div>
    <div><button style="float:right;" class="btn btn-primary" (click)="openPopup()">Add Row</button></div>
</article>
<!-- mat-header-cell -->
<div class="row">
  <div class="col-md-6">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input> 
    </mat-form-field>
  </div>
  <div class="col-md-6">
    <app-messages [searchedKey] = "parentSearchedKey"></app-messages>
  </div>
</div>
  <table mat-table [dataSource]="dataSource" class="table">
    <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
      <th  *matHeaderCellDef style="font-weight: bold; font-weight: 900;">{{ col.label }}</th>
      <td mat-cell *matCellDef="let element" >
        <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
          <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <div class="button-padding">
              <button class="mat-focus-indicator mat-raised-button mat-button-base mat-primary" mat-button (click)="element.isEdit = !element.isEdit">Edit</button>&nbsp;&nbsp;
              <button mat-button class="button-remove mat-focus-indicator mat-raised-button mat-button-base mat-warn"(click)="removeRow(element.id)">Delete</button>
           </div>
          </div>
          <span *ngSwitchDefault>{{ element[col.key] }}</span>
        </div>
        <div [ngSwitch]="col.type" *ngIf="element.isEdit">
          <div *ngSwitchCase="'isSelected'"></div>
          <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <button mat-raised-button mat-button (click)="editRow(element)" [disabled]="disableSubmit(element.id)"> Done</button>
          </div>
            <mat-form-field  style="width: 100px;" class="form-input" *ngSwitchDefault>
              <input matInput [required]="col.required" [pattern]="col.pattern" [type]="col.type" [(ngModel)]="element[col.key]" (change)="inputHandler($event, element.id, col.key)" />
            </mat-form-field>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
  </mat-paginator>
  <!-- <app-messages (searchString)="searchEventHander($event)"></app-messages>
  <strong *ngIf="searchStringDisplay" > {{searchStringDisplay}} </strong> -->