.name-field{
    /* display: none; */
}

.mat-form-field-infix{
    width: 0px;
}

.order_heading{
    text-align: center;
    font-size: large;
    font-weight: 700;
}

.button-padding{
    padding: 10px;
}